{{ $site := .Site }}
{{ $params := .Site.Params }}
{{ $js := .Site.Data.vendor.js }}
{{ $css := .Site.Data.vendor.css }}

{{ partial "helpers/ts.html" (dict "source" "js/main.ts") }}

{{ partial "helpers/js.html"  (partial "helpers/vendorCdn.html" (dict "item" $js.lazysizes "ctx" $site)) }}
{{ partial "helpers/js.html"  (partial "helpers/vendorCdn.html" (dict "item" $js.clipboard "ctx" $site)) }}

{{ if $params.animation.enable }}
  {{ partial "helpers/ts.html" (dict "source" "js/aos.ts") }}
  <script>
    var aosInit = () => {
      AOS.init({
        duration: 1000,
        easing: "ease",
        once: true,
        offset: 50,
      });
    };
    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", aosInit);
    } else {
      aosInit();
    }
  </script>
{{ end }}

{{ $phtotswipe_lightbox := index (partial "helpers/vendorCdn.html" (dict "item" $js.photoswipe_lightbox "ctx" $site)) 0 }}
{{ $photoswipe := index (partial "helpers/vendorCdn.html" (dict "item" $js.photoswipe "ctx" $site)) 0 }}
<script type="module" data-pjax>
  import PhotoSwipeLightbox from "{{ $phtotswipe_lightbox }}";

  const pswp = () => {
    if (_$$('.article-entry a.article-gallery-item').length > 0) {
      new PhotoSwipeLightbox({
        gallery: '.article-entry',
        children: 'a.article-gallery-item',
        pswpModule: () => import("{{ $photoswipe }}")
      }).init();
    }
    if(_$$('.article-gallery a.article-gallery-item').length > 0) {
      new PhotoSwipeLightbox({
        gallery: '.article-gallery',
        children: 'a.article-gallery-item',
        pswpModule: () => import("{{ $photoswipe }}")
      }).init();
    }
    window.lightboxStatus = 'done';
    window.removeEventListener('lightbox:ready', pswp);
  }
  if(window.lightboxStatus === 'ready') {
    pswp()
  } else {
    window.addEventListener('lightbox:ready', pswp);
  }
</script> {{ if and $params.valine.enable $params.valine.appId $params.valine.appKey }}
  {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.valine "ctx" $site)) 0) "pjax" true) }}
  <script data-pjax>
    var GUEST_INFO = ['nick', 'mail', 'link'];
    var guest_info = '{{ $params.valine.guest_info }}'.split(',').filter((item) => {
      return GUEST_INFO.indexOf(item) > -1
    });
    var recordIP = JSON.parse('{{ $params.valine.recordIP }}');
    var highlight = JSON.parse('{{ $params.valine.highlight }}');
    var visitor = JSON.parse('{{ $params.valine.visitor }}');

    new Valine({
      el: '.vcomment',
      appId: "{{ $params.valine.appId }}",
      appKey: "{{ $params.valine.appKey }}",
      placeholder: "{{ $params.valine.placeholder }}",
      pageSize: '{{ $params.valine.pageSize }}',
      avatar: '{{ $params.valine.avatar }}',
      lang: '{{ $params.valine.lang }}',
      recordIP: recordIP,
      highlight: highlight,
      visitor: visitor,
      requiredFields: guest_info,
      path: window.location.pathname
    });
  </script>
{{ end }}

{{ if and $params.waline.enable $params.waline.serverURL }}
<script data-pjax  type="module">
  import { init } from '{{ index (partial "helpers/vendorCdn.html" (dict "item" $js.waline "ctx" $site)) 0 }}';
  if(_$('.wcomment')) {
    window.walineInstance = init({
      el: '.wcomment',
      serverURL: '{{ $params.waline.serverURL }}',
      lang: '{{ $params.waline.lang }}',
      locale: JSON.parse({{ $params.waline.locale | jsonify }}),
      emoji: JSON.parse({{ $params.waline.emoji | jsonify}}),
      meta: JSON.parse({{ $params.waline.meta | jsonify }}),
      requiredMeta: JSON.parse({{ $params.waline.requiredMeta | jsonify }}),
      wordLimit: {{ $params.waline.wordLimit }},
      comment: true,
      pageSize: {{ $params.waline.pageSize }},
      dark: 'html[data-theme="dark"]',
      pageview: {{ $params.waline.pageview }},
  });
  }
</script>
{{ end }}

{{ if and $params.gitalk.enable $params.gitalk.clientID $params.gitalk.clientSecret }}
  {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.gitalk "ctx" $site)) 0) "pjax" true) }}
  {{ if $params.gitalk.md5 }}
    {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.md5 "ctx" $site)) 0) "pjax" true) }}
  {{ end }}
  <script data-pjax>
    var gitalkId = {{ if $params.gitalk.md5 }}'md5(location.pathname)'{{else }}'location.pathname'{{end}};
    var gitalk = new Gitalk({
      clientID: '{{ $params.gitalk.clientID }}',
      clientSecret: '{{ $params.gitalk.clientSecret}}',
      repo: '{{ $params.gitalk.repo }}',
      owner: '{{ $params.gitalk.owner }}',
      admin: JSON.parse({{ $params.gitalk.admin | jsonify }}),
      id: gitalkId, // Ensure uniqueness and length less than 50
      distractionFreeMode: false // Facebook-like distraction free mode
    })
    if (document.getElementById('comments')) {
      gitalk.render('comments')
    }
  </script>
{{ end }}

{{ if and $params.twikoo.enable $params.twikoo.envId }}
  {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.twikoo "ctx" $site)) 0) "pjax" true) }}
  <script data-pjax>
    twikoo.init({
      envId: '{{ $params.twikoo.envId }}',
      el: '.tcomment',
      region: '{{ $params.twikoo.region }}',
    })
  </script>
{{ end }}

{{ if and $params.giscus.enable (not (eq .Params.comments false)) }}
<script data-pjax>
  var giscusContainer = document.querySelector('.giscus');
  if (giscusContainer) {
    const giscusScript = document.createElement('script');
    giscusScript.src = 'https://giscus.app/client.js';
    giscusScript.setAttribute('data-repo', '{{ $params.giscus.repo }}');
    giscusScript.setAttribute('data-repo-id', '{{ $params.giscus.repoId }}');
    giscusScript.setAttribute('data-category', '{{ $params.giscus.category }}');
    giscusScript.setAttribute('data-category-id', '{{ $params.giscus.categoryId }}');
    giscusScript.setAttribute('data-mapping', '{{ $params.giscus.strict }}');
    giscusScript.setAttribute('data-strict', '{{ $params.giscus.strict }}');
    giscusScript.setAttribute('data-reactions-enabled', '{{ $params.giscus.reactionsEnabled }}');
    giscusScript.setAttribute('data-emit-metadata', '{{ $params.giscus.emitMetadata }}');
    giscusScript.setAttribute('data-input-position', '{{ $params.giscus.inputPosition }}');
    giscusScript.setAttribute('data-theme', '{{ $params.giscus.commentTheme }}');
    giscusScript.setAttribute('data-lang', '{{ $params.giscus.lang }}');
    giscusScript.setAttribute('crossorigin', 'anonymous');
    giscusScript.async = true;
    giscusContainer.appendChild(giscusScript);
  }
</script>
{{ end }}

{{ if $params.algolia_search.enable }}
  <script>
    var ALGOLIA_CONFIG = {
      root: '/',
      algolia: {
        applicationID: "{{ $params.algolia_search.appID }}",
        apiKey: "{{ $params.algolia_search.apiKey }}",
        indexName: "{{ $params.algolia_search.indexName }}",
        hits: {
          "per_page": parseInt("{{ $params.algolia_search.hits.per_page }}")
        },
        labels: {
          "input_placeholder": "{{ $params.algolia_search.labels.input_placeholder }}",
          "hits_empty": "{{ $params.algolia_search.labels.hits_empty }}",
          "hits_stats": "{{ $params.algolia_search.labels.hits_stats }}"
        }
      }
    };
  </script>
  {{ partial "helpers/js.html"  (partial "helpers/vendorCdn.html" (dict "item" $js.algolia "ctx" $site)) }}
  {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.instantsearch "ctx" $site)) 0) "defer" true) }}
  {{ partial "helpers/ts.html" (dict "source" "js/algolia_search.ts") }}
{{ end }}

<!-- search -->

{{ if $params.firework.enable }}
  {{ partial "helpers/js.html"  (partial "helpers/vendorCdn.html" (dict "item" $js.firework "ctx" $site)) }}
<script>
  if (window.firework) {
    const options = JSON.parse({{ $params.firework.options | jsonify }});
    options.excludeElements = options.excludeelements;
    delete options.excludeelements;
    window.firework(options);
  }
</script>
{{ end }}


<!-- pjax -->

{{ if $params.live2d.enable }}
<script>
  function initLive2d() {
    live2d.init('{{ index (partial "helpers/vendorCdn.html" (dict "item" $js.live2d.base "ctx" $site)) 0 }}', {themeTipsPath: ""});
  }
</script> {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.live2d.js "ctx" $site)) 0) "async" true "onload" "initLive2d()") }}
{{ end }}

{{ if $params.quicklink.enable }}
  {{ partial "helpers/js.html"  (partial "helpers/vendorCdn.html" (dict "item" $js.quicklink "ctx" $site)) }}
  <script data-pjax>
    window.quicklink?.listen({
      timeout: {{ $params.quicklink.timeout }},
      priority: {{ $params.quicklink.priority }},
      ignores: JSON.parse({{ $params.quicklink.ignores | jsonify }})
    });
  </script>
{{ end }}

<!-- mermaid -->

<!-- outdate -->

{{ if $params.footer.busuanzi }}
  {{ partial "helpers/js.html" (dict "src" (index (partial "helpers/vendorCdn.html" (dict "item" $js.busuanzi "ctx" $site)) 0) "async" true) }}
{{ end }}

<!-- service_worker -->

<script>
  const reimuCopyright = String.raw`
  ______     ______     __     __    __     __  __    
  /\  == \   /\  ___\   /\ \   /\ "-./  \   /\ \/\ \   
  \ \  __<   \ \  __\   \ \ \  \ \ \-./\ \  \ \ \_\ \  
  \ \_\ \_\  \ \_____\  \ \_\  \ \_\ \ \_\  \ \_____\ 
    \/_/ /_/   \/_____/   \/_/   \/_/  \/_/   \/_____/ 
                                                    
  `;
  console.log(String.raw`%c ${reimuCopyright}`,'color: #ff5252;')
  console.log('%c Theme.Reimu'+ ' %c https://github.com/D-Sketon/hugo-theme-reimu ', 'color: white; background: #ff5252; padding:5px 0;', 'padding:4px;border:1px solid #ff5252;')
</script>